/* About Component Styles */

/* Background decorative elements */
.about-bg-blur-1 {
  position: absolute;
  top: 25%;
  left: -8rem;
  width: 16rem;
  height: 16rem;
  background-color: rgb(59 130 246 / 0.1);
  border-radius: 9999px;
  filter: blur(3rem);
}

.dark .about-bg-blur-1 {
  background-color: rgb(59 130 246 / 0.1);
}

.light .about-bg-blur-1 {
  background-color: rgb(37 99 235 / 0.1);
}

.about-bg-blur-2 {
  position: absolute;
  bottom: 25%;
  right: -8rem;
  width: 16rem;
  height: 16rem;
  background-color: rgb(6 182 212 / 0.1);
  border-radius: 9999px;
  filter: blur(3rem);
}

.dark .about-bg-blur-2 {
  background-color: rgb(6 182 212 / 0.1);
}

.light .about-bg-blur-2 {
  background-color: rgb(14 165 233 / 0.1);
}

/* Animation delay utilities for stats */
.about-stat-item {
  animation-delay: var(--animation-delay, 0.3s);
}

/* Animation delay utilities for highlights */
.about-highlight-item {
  animation-delay: var(--animation-delay, 0.4s);
}

